/* 모든 선택자 여백 제거  */
/* a 밑줄제거 */
/* li 장식 제거  */
/* img, video 정렬, 크기 조절 */
/* input, button, textarea, select 부모요소 상속 */
/* input:focus 테두리 선 제거 */
/* table 테두리 제거  */
/* .skip 부분 공통 */
/* .blind 처리 */
/* body 줄간, 자간 등  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

menu,
ol,
ul,
li {
  list-style: none;
}

img,
video {
  vertical-align: middle;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:focus {
  outline: none;
}

table {
  border-collapse: collapse;
}

.blind {
  position: absolute;
  top: -9999px;
}

.skip {
  position: absolute;
  top: -9999px;
}

.skip-menu a {
  display: block;
  width: 100%;
  position: absolute;
  line-height: 50px;
  text-align: center;
  background: #0099da;
}
.skip-menu a:focus {
  top: 0;
}
address,
i,
em {
  font-style: normal;
}

button {
  cursor: pointer;
}

body {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.032rem;
}
