/* 배고프다 */
:root {
  --bik-main-color: #0055a2;
  --ibk-main-text-color: #0075a3;
  --ibk-red-text-color: #f15a21;
  --ibk-text-color: #0d020f;
  --main-gray-color: #f0f2f6;
  --ibk-gray-text-color: #7e8082;
}
